@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes bounce-short {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ping-fast {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-bounce-short {
  animation: bounce-short 0.5s infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.animate-spin-fast {
  animation: spin-fast 1s linear infinite;
}

.animate-ping-fast {
  animation: ping-fast 1s infinite;
}

.animate-ping-slow {
  animation: ping-slow 2s infinite;
}
